<div class="w3-container">

<h1>Create a Sessions and a Session User_ID</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
<div class="alert">
    <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
<% end %>
</div>

<%= form_tag do %>

<legend>Please Log In</legend>
 
<div class="w3-panel">
    <%= label_tag :name, 'Name:' %>
    <%= text_field_tag :name, params[:name], class:"w3-input w3-border" %>
</div>

<div class="w3-panel">
    <%= label_tag :password, 'Password:' %>
    <%= password_field_tag :password, params[:password], class:"w3-input w3-border" %>
</div>

<div class="w3-panel">
    <%= submit_tag "Login", class:"w3-button w3-light-grey w3-border" %>
</div>


<% end %>
</div>
