<p id="notice" class="w3-panel"><%= notice %></p>

<h1>Look at our selection</h1>

<table class="w3-table-all">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Price</th>
    </tr>
  </thead>
  
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= strip_tags(product.description) %>
        <td><%= image_tag(product.image_url) %> 
        <td><%= number_to_currency(product.price) %>
        <%= button_to 'Add to Cart', line_items_path(product_id: product) %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

